/* 기본 설정: 폰트 크기 */
/*

@media (max-width: 599px) {
    :root {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    :root {
        font-size: 16px;
    }
}

@media (min-width: 800px) {
    :root {
        font-size: 18px;
    }
}

*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {

    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9)), url(../images/back1.png);
    background-size: cover;
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;

}

.logo {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 100px;
    text-align: center;
    font-family: 'Concert One', cursive;
}

.logo .sub {
    font-family: 'Lobster', cursive;
    font-size: 70px;
}

.weather {
    text-align: center;

}

.serve {
    margin-left: 20px;
    width: 90%;
    text-align: left;
}

.serve fieldset {
    margin-top: 30px;
    border-radius: 40px;
}

.serve p {
    word-spacing: 3px;
    line-height: 1.6em;
    margin: 20px;
    font-style: italic;
    text-align: left;

}

/* Style the content */
.content {

    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../images/back2.jpg);
    background-size: cover;
    height: 100%;
    margin-left: 400px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;


}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;

}

.row1 {
    display: flex;
    text-align: center;

}

.row1:after {
    content: "";
    display: table;
    clear: both;
}

/* Create three equal columns that floats next to each other */
.column {
    display: flex;
    border: 1px solid #2D9AB2;
    float: left;
    width: 15%;
    padding: 10px;
    height: 550px;
    margin: 10px;
    border-radius: 20px;
    font-size: 30px;
    font-family: 'Gamja Flower', cursive;
    justify-content: center;
    align-items: center;


}

.col1 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/travel.jpg);
    background-size: cover;
    background-position: center;
    color: #000;
}


.col2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/food3.jpg);
    background-size: cover;
    background-position: 40%;
    color: #000;
}

.col3 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/hotel.jpg);
    background-size: cover;
    background-position: center;
    color: #000;
}




.row .container {
    display: inline-block;
    width: 45%;
    float: right;
    padding: 10px;
    height: 550px;
    margin: 10px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
}

.row .container fieldset {
    margin: 15px;
}

.row .container fieldset legend {
    font-size: 40px;
    font-family: 'Gamja Flower', cursive;
}

#myCarousel {
    height: 450px;
}

#myCarousel img {
    height: 450px;
}

.column1 {
    width: 28%;
    height: 200px;
    margin: 20px;
    border-radius: 30%;
    border: 1px solid #000;
    /* Should be removed. Only for demonstration */
    line-height: 3.5;
    margin-right: auto;
    margin-left: auto;
    color: aliceblue;
    font-family: 'Gamja Flower', cursive;
    font-size: 3vw;
}


/*       작은화면*/
@media (max-width: 1250px) {
    .headA {
        text-align: center;
        font-size: 80px;
        font-family: 'Gamja Flower', cursive;
        justify-content: center;
        align-items: center;
    }

    .headA span {
        margin-right: 50px;
    }

    .headC {
        padding: 0;
        border: none;
        outline: none;
        font-size: 28px;
        opacity: 0.5;
        cursor: pointer;
        background: none;
    }

    .headC:hover {
        opacity: 0.3;
    }

    .hide-large {
        display: none !important
    }

    .sidenav {
        display: none;
    }

    .content {
        margin-left: 0;
    }

    .row {

        margin-left: auto;
        margin-right: auto;
    }

    .content .column {

        margin-top: 50px;
        margin-left: auto;
        width: 30%;
        height: 200px;
    }

    .content .container {
        float: none;
        display: flex;
        width: 90%;
    }

    .row1 {

        margin-left: auto !important;
        margin-right: auto !important;
    }

    .column1 {
        line-height: 10;
        font-size: 20px;
        color: black;
    }

    footer .container1 {
        text-align: center;
    }
    .footD ul{
        justify-content: center;
        align-items: center;
    }
    .footD li{
        margin-bottom: 30px;
    }
}


/*        큰화면*/
@media (min-width:1251px) {
    .headA {
        display: none;
        overflow: hidden;
    }

    .sidenav {
        display: block
    }


    .col1:hover {
        cursor: pointer;
        transition-duration: 1s;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../images/travel.jpg);
        color: #fff;
        font-size: 40px;
        width: 30%;
    }
    
    .col1:hover~.column{
        width: 7.5%;
         transition-duration: 1s;
    }

    .col2:hover {
        cursor: pointer;
        transition-duration: 1s;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../images/food3.jpg);
        color: #fff;
        font-size: 40px;
        
    }

  
    
    

    .col3:hover {
        cursor: pointer;
        transition-duration: 1s;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../images/hotel.jpg);
        color: #fff;
        font-size: 40px;

    }
}

/* 푸터 */
footer {
    color: #fff;
    background-color: #2B5566;
}

footer .container1 {
    padding: 40px 20px;
}


/* 푸터A: 사이트 정보 */
.footA {
    margin-bottom: 0;
}

.footA h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Concert One', cursive;
    font-size: 20px;
    letter-spacing: 0.2em;
}

.footA sub {
    font-family: 'Lobster', cursive;
}

.footA p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}

.footA a {
    color: inherit;
    text-decoration: none;
}


/* 푸터B: 푸터 메뉴 */
.footB div {
    margin-bottom: 20px;
}

.footB h3 {
    margin-top: 0;
    margin-bottom: 10px;
    border-bottom: solid 1px currentColor;
    font-size: 14px;
}

.footB ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footB a {
    display: block;
    padding: 5px;
    color: inherit;
    font-size: 12px;
    text-decoration: none;
}

.footB a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


@media (min-width: 768px) {
    .footB {
        display: flex;
    }

    .footB div {
        flex: 1;
    }

    .footB div:not(:first-child) {
        margin-left: 40px;
    }
}


/* 푸터C: 저작권 */
.footC {
    font-size: 12px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


/* 푸터D: SNS 메뉴 */
.footD {
    margin-top: 20px;
}

.footD ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footD a {
    display: block;
    margin-right: 8px;
    padding: 0;
    color: inherit;
    font-size: 16px;
    text-decoration: none;
    border: solid 1px currentColor;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
}

.footD a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {

    /* 큰 화면 전용 설정 */
    footer .container1 {
        margin-left: 400;
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .footA {
        flex: 0 0 40%
    }

    .footB {
        flex: 0 0 60%
    }

    .footC {
        flex: 0 0 100%
    }

    .footB {
        display: flex;
    }

    .footB div {
        flex: 1;
    }

    .footB div:not(:first-child) {
        margin-left: 10px;
    }


}
